{% extends "model-page.html" %}

{% block content %}
    <h2>Agendamentos</h2>
    <a href="evento/">
        <button type="button">Adicionar evento</button>
    </a>
    <ul>
    {% for evento in eventos %}
        <li>
            <b>{{evento.titulo}}</b> ---- {{ evento.get_data_evento }} --- 
            <a href="/agenda/evento/delete/{{ evento.id}}/"> <button type="button">Deletar</button></a>
            <a href="/agenda/evento/?id={{ evento.id }}"> <button type="button">Editar</button></a>
        </li>
    {% endfor %}
    </ul>

    <hr>
    <h3>Usuário logado: {{ usuario }}</h3>
{% endblock %}