{% extends "model-page.html" %}

{% block content %}
<form action="salvar" method="POST">{% csrf_token %} 
    <h2>Evento</h2>

    <input type="number" name="id_evento" value="{{ evento.id }}" hidden>

    <label>Titulo</label> <br>
    <input type="text" name="titulo" value="{{ evento.titulo }}"> <br><br>

    <label>Descrição</label> <br>
    <textarea name="descricao" cols="27" rows="10">{{ evento.descricao }}</textarea> <br><br>

    <label>Data do Evento</label> <br>
    <input type="datetime-local" name="data_evento" value="{{ evento.get_data_input_evento }}"> <br><br>

    <button type="submit">Salvar</button>
    <a href="/agenda/">
        <button type="button">Cancelar</button>
    </a>
</form>
{% endblock %}